<%= form_for(@pdf_file, multipart: true) do |f| %>
<% if @pdf_file.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@pdf_file.errors.count, "error") %> prohibited this pdf_file from being saved:</h2>

  <ul>
    <% @pdf_file.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <strong><%= f.label :title %><br></strong>
  <%= f.text_field :title %>
</div>
<div class="field">
  <strong><%= f.label :pdf %></strong><br>
  <%= f.file_field :pdf %>
</div>

<%= f.hidden_field :user_id, :value => current_user.id %>

<div class="field">
  <table align="center">
    <th><%= label_tag(:flag_a, "public") %></th>
    <th></th>
    <th><%= label_tag(:flag_b, "private") %></th>
    <tr>
      <td><%= f.radio_button(:flag, "public") %></td>
      <td></td>
      <td><%= f.radio_button(:flag, "private") %></td>
    </tr>
  </table>
</div>

<div class="field">
  <strong><%= label_tag(:tags, "Tags")%></strong>
  <%="Use [space] to split tags."%><br />
  <%= f.text_field :tags%><br />
  <%="Example: 'thriller short_story' (creates 2 tags 'thriller' and 'short_story')"%>
</div>


<div class="actions">
  <%= f.submit %>
</div>
<% end %>
