<h1> -- rate the pdf -- </h1>

<%= form_for @pdf_file do |p|  %>
<%=		   %>
<%= 	label_tag(:flag_a, "Sehr gut") %>
<%= 	p.radio_button(:rating, calculate_rating(1)) %>
<%= 	label_tag(:flag_b, "gut") %>
<%= 	p.radio_button(:rating, calculate_rating(2)) %>
<%= 	label_tag(:flag_c, "befriedigend") %>
<%= 	p.radio_button(:rating, calculate_rating(3)) %>
<%= 	label_tag(:flag_d, "ausreichend") %>
<%= 	p.radio_button(:rating, calculate_rating(4)) %>
<%= 	label_tag(:flag_e, "mangelhaft") %>
<%= 	p.radio_button(:rating, calculate_rating(5)) %>
<%= 	label_tag(:flag_f, "ungenügend") %>
<%= 	p.radio_button(:rating, calculate_rating(6)) %>

<div class="actions">
 <%= 	p.submit %>
</div>
<% end   %>


