<p id="notice"><%= notice %></p>


<p>
  <strong>Title:</strong>
  <%= @pdf_file.title %>
</p>

<p>
  <strong>Pdf:</strong>
  <%= @pdf_file.pdf %>
  <% if @pdf_file.flag == "public"  %>
  <%= 		link_to 'Rate', rate_path %>
  <%=     link_to 'Recension', recension_path(@pdf_file) %>
  <% end   %>
</p>

<p>

  <strong>Rating:</strong>
  <%= @pdf_file.rating %>
</p>

<p>
  <strong>Anzahl der Ratings:</strong>
  <%= @pdf_file.counter %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @pdf_file.flag %>
</p>


  <strong>Uploaded by:</strong>
  <%= User.find(@pdf_file.user_id).user_name %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @pdf_file.tags %>
</p>

<% if user_signed_in? && current_user.id = @pdf_file.user_id?%>
<%= link_to 'Edit', edit_pdf_file_path(@pdf_file) %> |
<%= link_to 'Personal Gallery', pdf_files_path %>
<%= link_to 'Public Gallery', gallery_path %>
<%= link_to 'Favorite', favorite_path %>
<% else %>
<%= link_to 'Back', gallery_path %>
<%end%>
